annotated-types
anyio
click
colorama
distlib
dnspython
email-validator
fastapi
filelock
h11
httptools
idna
install
motor
numpy
opencv-python
platformdirs
pydantic
pydantic_core
pymongo
python-dotenv
PyYAML
sniffio
starlette
typing_extensions
uvicorn
virtualenv
watchfiles
websockets
